body,
html {
  margin: 0;
}
#playerImg {
  position: fixed;
  top: 46%;
  left: 46%;
  width: 100px;
  height: 100px;
}

.context-menu {
  position: fixed;
  width: 200px;
  border: 1px solid #b3b3b3;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  background: #fff;
  z-index: 99;
  left: 0;
  top: 0;
}
.context-menu.show {
  display: flex;
}
.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.1s;
  border-bottom: 2px solid #b3b3b3;
}
.menu-item:hover {
  background-color: antiquewhite;
}
.menu-item_title {
  margin-left: 20px;
}
